.card {
    /* background-size: 150px, 150px; */
    width: 175px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-size: cover;
    box-shadow: 5px 5px 5px darkslategrey;
    border-radius: 5px;
    float: right;
}